/*body {
    background-color: #000;
    font-family: 'Roboto' 'sans-serif';
    padding: 50px;
    font-size: 30px;
    background-image: url(../img/grey.png);
    background-repeat: repeat;
}

p {
    color: black;
    font-size: 15px;
    margin: 20px 10px 20px 10px;
}


body div section{
    padding-left: 30px;

}

h1{
    color:black;
    font-weight: bold;
    font-size: 2em;
}

body div section figure div{
    display: block;
    border-top-left-radius: 30px;   
    border-bottom-right-radius: 30px;
    background-image: url('../img/simio-gun.jpeg');
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
   
}

#main-container{
    width: 800px;
    padding: 20px;
    margin: 50px auto;
}
#main-container .section{
    width: 80%;
    margin: 10px auto;
}

.info-container{
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: aquamarine;
    margin: 50px auto;
    min-height: 150px;
}*/
html, body {
    width: 100%;
}
body {
    background: #eeeded;
    font-family: 'Roboto';
    font-size: 14px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.ripple {
    background-color: rgba(255,255,255, 0.5);
    border-radius: 100%;
    height: 100px;
    position: absolute;
    transform: scale(0);
    width: 100px;
}

.animate {
    animation: ripple .5s linear;
} 

@keyframes ripple {
    100% {
        -webkit-transform: scale(5);
        transform: scale(5);
        background-color: transparent;
    }
}
#main-fixed-header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color:darkblue;
        box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    z-index: 999;
}

#main-fixed-header span#logo-container{
	/*nothing yet*/
}

#main-fixed-header span#title-container{
	color: white;
	font-size: 20px;
	letter-spacing: 3px;
	    margin: 14px 0 0 40px;
	    display: inline-block;
}

#main-container {
    width: 80%;
    padding: 20px;
    margin: 100px auto;
    background: #fff;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}



#main-container .section:not(.image) {
    width: 80%;
    margin: 50px auto;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media (max-width: 768px){
    #main-container {
        width: 100%;
        padding: 0px;
        margin: 0;
        margin-top: 100px;
        background: #fff;
        position: relative;
        box-shadow: none;
    }
     #main-container .section:not(.image) {
        width: auto;
        position: relative;
        margin: 0;
        padding: 50px 10px;
        transition: all 0.2s ease-in-out;
    }
    
}

#main-container .section:not(.image):hover {
    /*nothing yet*/
}

#main-container .section.image figure img {
    width: 150px;
    height: 150px;
    margin: 10px auto;
    border-radius: 50%;
    display: block;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    transition: all 1s ease-in-out;
}

#main-container .section.image figure img:hover {
    /*transform: scale(1.3);*/
    /*transform: all 2s ease;*/
    transition: all 1s rotate(180);
}

#main-container .section header h1 {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    margin: 16px 0;
    font-weight: 400;
    letter-spacing: 4px;
}

#main-container .section {
    color: white;
    position: relative;
}

#main-container button {
    border: none;
    color: white;
    overflow: hidden;
    margin: 5px;
    padding: 0;
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    outline: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    letter-spacing: 2px;
    rgba:(0,0,0,.5);
}



#main-container .section:nth-child(2) {
    background-color: #F44336;
}

#main-container .section:nth-child(2) button {
    background-color: #D32F2F;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#main-container .section:nth-child(3) {
    background-color: #9C27B0;
}

#main-container .section:nth-child(3) button {
    background-color: #7B1FA2;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#main-container .section:nth-child(4) {
    background-color: #2196F3;
}

#main-container .section:nth-child(4) button {
    background-color: #1976D2;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#main-container .section:nth-child(5) {
    background-color: #009688;
}

#main-container .section:nth-child(5) button {
    background-color: #00796B;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#main-container .section .info-container {
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    text-align: justify;
}

@media (max-width: 320px){
    #main-container .section .info-container {
        margin-top: 0px;
        padding: 0px;
        width: 100%;
        text-align: justify;
    }


    #main-container button {
        border: none;
        color: white;
        overflow: hidden;
        margin: 0 auto ;
        padding: 0;
        margin-left: 25px;
        text-transform: uppercase;
        width: 95%;
        height: 40px;
        outline: none;
        position: absolute;
        right: 10px;
        bottom: 10px;
        letter-spacing: 2px;
        rgba:(0,0,0,.5);
    }   

    #main-container .section:not(.image) {
        width: auto;
        postion: relative;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 50px;
        transition: all 0.2s ease-in-out;
    }

    

    body {
        background-color: black;
        font-family: 'Tahoma';
        font-size: 12px;
    }

    #main-container .section.image figure img {
        width: 150px;
        height: 150px;
        margin: 10px auto;
        border-radius: 10%;
        display: block;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
        transition: all 1s ease-in-out;
    }
    
    
}

@media (max-width: 254px){
    #main-fixed-header span#title-container{
        color: white;
        font-size: 20px;
        letter-spacing: 2px;
        margin: 14px 0 0 20px;
        display: inline-block;
    }

}

#main-container .section p {
    margin: 5px;
}

#main-container .section a {
    margin-bottom: 5px;
    display: block;
    color: #fff;
    text-decoration: none;
}

#main-container .section a:hover {
    color: #00796B;
    transition: all 0.3s ease-in-out;
}

.input-text {
    color: black;
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
    width: 50%;
    height: 20px;
}



